<!DOCTYPE html>
<html dir="rtl">
<%- include('partials/head') %>
<body>
        <%- include('partials/wave') %>
        <!-- شريط التنقل -->
        <%- include('partials/nav') %>
    
        <!-- أزرار الدخول للسيرفر والسلة -->
        <%- include('partials/other') %>

        <!-- قسم اللوغو والعنوان الرئيسي -->
        <%- include('partials/main') %>
        
        <!-- الفوتر -->
        <%- include('partials/footer') %>
</body>

</html>